@import 'Reset.scss';
@import 'Variables.scss';

::-webkit-scrollbar {
  width: var(--scroll-bar-size);
}
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 48, 48);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
