@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  @apply w-3;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-200;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
}

.editor {
  outline: none;
}

.dragApp {
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
