* {
  box-sizing: border-box;
}

svg,
path {
  box-sizing: initial;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 48, 48);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea {
  border: none;
  background: transparent;
  &:focus {
    border: none;
    outline: none;
  }
}
