@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  @apply w-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}
::-webkit-scrollbar-track {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  :focus-visible {
    @apply focus:outline-none;
  }

  .hr-default {
    @apply bg-neutral-200 dark:bg-neutral-700 h-[1px] border-0  w-full;
  }

  .input-default {
    @apply transition-colors border-b border-transparent
     bg-neutral-50 text-neutral-900  focus:bg-neutral-900 focus:text-neutral-50  hover:border-neutral-600 
     dark:bg-neutral-900 dark:text-neutral-50  dark:focus:bg-neutral-800 dark:focus:text-neutral-50 dark:hover:border-neutral-700;
  }

  .basic-button {
    @apply px-3 py-1 rounded-sm transition-colors cursor-pointer 
    bg-neutral-50 border-neutral-900 text-neutral-900  hover:bg-neutral-900 hover:text-neutral-50 fill-neutral-900 hover:fill-neutral-50
    dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-50 dark:hover:bg-neutral-700  dark:fill-neutral-50 dark:hover:fill-neutral-900;
  }

  .basic-button-inverted {
    @apply px-3 py-1 rounded-sm transition-colors cursor-pointer border
    bg-neutral-900 border-neutral-50 text-neutral-50  hover:bg-neutral-50 hover:text-neutral-900 fill-neutral-50 hover:fill-neutral-900
    dark:bg-neutral-50 dark:border-neutral-900 dark:text-neutral-900 dark:hover:bg-neutral-900 dark:hover:text-neutral-50 dark:fill-neutral-900 dark:hover:fill-neutral-50;
  }
}
