* {
  --bg-main: hsl(0, 0%, 99%);
  --bg-secondary: hsl(0, 0%, 97%);
  --bg-invert-main: hsl(0, 0%, 05%);
  --bg-invert-secondary: hsl(0, 0%, 30%);

  --text-main: #151617;
  --text-main-hover: #151617;

  --text-secondary: #343f4f;
  --text-secondary-hover: #343f4f;

  --accent-main: #06ff3d;
  --accent-main-b: #62f94a;
  --accent-main-grad: linear-gradient(
    103.92deg,
    var(--accent-main) 0%,
    var(--accent-main-b) 101.02%
  );

  --top-bar-size: 35px;
}

.bold {
  font-weight: bold;
}

.header-XL {
  font-size: 30px;
}

.header-L {
  font-size: 24px;
}

.header-M {
  font-size: 20px;
}

.header-S {
  font-size: 16px;
}

.header-XS {
  font-size: 14px;
}

.text-L {
  font-size: 16px;
}

.text-M {
  font-size: 14px;
}

.text-S {
  font-size: 12px;
}
