$textMain: hsl(0, 0%, 5%);
$textMainLight: hsl(0, 0%, 20%);
$textSecondary: hsl(0, 0%, 98%);
$textSecondaryLight: hsl(0, 0%, 90%);

$bgMain: hsl(0, 0%, 99%);
$bgMainLight: hsl(0, 0%, 80%);
$bgSecondary: hsl(0, 0%, 5%);

$accent: hsl(54, 100%, 50%);
$accentLight: hsl(54, 91%, 75%);
$accentDark: hsl(50, 63%, 20%);
